
@{
    ViewBag.Title = "Process Data";
}

<div class="row">
    <div class="col-md-12">
        <h2>Processing Data...</h2>
        <p>
            Downloading and processing data from websites. Check the log at D:\ServiceLog.txt for more details.
        </p>
        <p>
            Once done, access the reports from the menu above to view and export them to Excel.
        </p>
    </div>
</div>
